@using FCX_Labs.Enums
@model ModifyPassModel
@{
    ViewData["Title"] = "Alterar senha do usuário";
}


@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert"
            aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
<div class="row">
    <div class="col-md-12" id="login-wraper" style="background: none repeat scroll 0 0 rgba(100%, 100%, 100%, 0.4);">
        <form asp-controller="AlterarSenha" asp-action="Alterar" method="post">

            <div class="form-group">
                <label for="senhaAtual" class="form-label">Senha Atual</label>
                <input type="password" asp-for="old_pass" class="form-control"
                    placeholder="Digite a senha atual do usuário">
                @Html.ValidationMessageFor(x => x.old_pass)
            </div>

            <div class="form-group">
                <label for="novaSenha" class="form-label">Nova Senha</label>
                <input type="password" asp-for="new_pass" class="form-control"
                    placeholder="Digite a nova senha do usuário">
                @Html.ValidationMessageFor(x => x.new_pass)
            </div>

            <div class="form-group">
                <label for="confirmarSenha" class="form-label">Confirmar Nova Senha</label>
                <input type="password" asp-for="ConfirmPass" class="form-control"
                    placeholder="Digite a confirmação da nova senha do usuário">
                @Html.ValidationMessageFor(x => x.ConfirmPass)
            </div>

            <button type="submit" class="btn btn-primary btn-block">Alterar</button>
            <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Home" role="button">Voltar</a>

        </form>
    </div>
</div>