@model User
@{
    ViewData["Title"] = "Apagar Cadastro?";
}

<div class="text-center">
    <h1>Deseja realmente apagar @Model.name?</h1>
</div>

<a class="btn btn-primary btn-block" asp-action="Index" asp-controller="Usuario" role="button">Cancelar exclusão</a>
<a class="btn btn-danger btn-block" asp-action="Apagar" asp-controller="Usuario" asp-route-id="@Model.id"
    role="button">Confirmar exclusão</a>