@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron" style="width: 500px; margin-left: 350px;">
    <a target="_self" href="/" class="style__StyledLink-sc-9c39cd4a-0 jsdIMI">
        <img src="https://d3gcmglegmnvz8.cloudfront.net/logo/logo_fc.svg"
            alt="Logo escrito Ferreira Costa, em branco com bordas vermelhas" data-cy="desktop-logo-fc"
            class="styles__DesktopLogoFC-sc-a7f31c4c-5 hDFeka">
    </a>
</div>
